@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-size: 16px;
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

li {
    list-style: none;    
}

.logo-section {
    width: 60%;
    background: url(./design-neon-abstract-light-design-hd-wallpaper-preview.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}

.logo-section h2 {
    color: white;
    font-family: 'Kaushan Script', cursive;
    font-size: 50px;
    padding: 20px;
}

.header-wrapper {
    background:  rgba(0, 0, 0, 0.5);
    width: 100%;
    margin-top: 150px;
    display: flex;
    justify-content: center;    
}

.form-section {
    width: 100%;
    background: rgba(11, 182, 168, 0.1);
}

.form-wrapper {
    padding: 20px 50px 20px 50px;
    border: none;
    background: white;
    height: 300px;
    box-shadow: 10px 5px 10px rgb(194, 190, 190);
}

.form-wrapper h2{
    padding-bottom: 30px;    
}

.form-section h3 {
    padding: 100px 20px 50px 50px;
    max-width: 90%;
    font-size: 22px;
}

span {
    display: block;
    padding-top: 30px;
}

label {
    display: block;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1.5px;
}

.form-section input {
    border: solid 1px #d6d7db;
    height: 30px;
    width: 250px;
    font-size: 17px;
    padding: 10px;
    border-radius: 3px;
}

.row-group {
    display: flex;
    column-gap: 60px;
    padding-bottom: 20px;
}

.btn {
    margin: 30px 50px 20px 50px;
    border: none;
    font-size: 16px;
    font-weight: 700;
    background: rgb(19, 164, 231);
    padding: 20px 30px;
    color: white;
}

.btn:hover {
    background: rgb(41, 187, 255);
}

a{
    color: rgb(19, 164, 231);
}

.form-section p {
    padding-left: 50px;
}

